@{
    ViewData["Title"] = "Giriş";
}

<div style="text-align: center; margin-top: 100px;">
    <h1>WatchList'e Hoş Geldiniz!</h1>
    <p style="margin: 20px; font-size: 18px;">
        İzlediğiniz filmleri ve dizileri takip etmek hiç bu kadar kolay olmamıştı.
    </p>
    <a href="/WatchItem/Index" class="btn btn-primary" style="padding: 10px 30px; font-size: 18px;">
        Listeme Git
    </a>
</div> 